In [117]:
import pandas as pd
import pickle as pk

In [118]:
tabla_A_1 = pk.load(open('Datos Presentacion\dict_table_A_1','rb'))
tabla_B_1 = pk.load(open('Datos Presentacion\dict_table_B_1','rb'))
tabla_A_2 = pk.load(open('Datos Presentacion\dict_table_A_2','rb'))
tabla_B_2 = pk.load(open('Datos Presentacion\dict_table_B_2','rb'))
tabla_A_3 = pk.load(open('Datos Presentacion\dict_table_A_3','rb'))
tabla_B_3 = pk.load(open('Datos Presentacion\dict_table_B_3','rb'))
tabla_A_4 = pk.load(open('Datos Presentacion\dict_table_A_4','rb'))
tabla_B_4 = pk.load(open('Datos Presentacion\dict_table_B_4','rb'))
tabla_A_5 = pk.load(open('Datos Presentacion\dict_table_A_5','rb'))
tabla_B_5 = pk.load(open('Datos Presentacion\dict_table_B_5','rb'))
tabla_A_6 = pk.load(open('Datos Presentacion\dict_table_A_6','rb'))
tabla_B_6 = pk.load(open('Datos Presentacion\dict_table_B_6','rb'))
tabla_A_7 = pk.load(open('Datos Presentacion\dict_table_A_7','rb'))
tabla_B_7 = pk.load(open('Datos Presentacion\dict_table_B_7','rb'))
tabla_A_8 = pk.load(open('Datos Presentacion\dict_table_A_8','rb'))
tabla_B_8 = pk.load(open('Datos Presentacion\dict_table_B_8','rb'))
tabla_A_9 = pk.load(open('Datos Presentacion\dict_table_A_9','rb'))
tabla_B_9 = pk.load(open('Datos Presentacion\dict_table_B_9','rb'))
tabla_A_10 = pk.load(open('Datos Presentacion\dict_table_A_10','rb'))
tabla_B_10 = pk.load(open('Datos Presentacion\dict_table_B_10','rb'))
final_1 = pd.read_csv('Datos Presentacion\dfinal_1.csv', index_col=0)
final_2 = pd.read_csv('Datos Presentacion\dfinal_2.csv', index_col=0)
final_3 = pd.read_csv('Datos Presentacion\dfinal_3.csv', index_col=0)
final_4 = pd.read_csv('Datos Presentacion\dfinal_4.csv', index_col=0)
final_5 = pd.read_csv('Datos Presentacion\dfinal_5.csv', index_col=0)
final_6 = pd.read_csv('Datos Presentacion\dfinal_6.csv', index_col=0)
final_7 = pd.read_csv('Datos Presentacion\dfinal_7.csv', index_col=0)
final_8 = pd.read_csv('Datos Presentacion\dfinal_8.csv', index_col=0)
final_9 = pd.read_csv('Datos Presentacion\dfinal_9.csv', index_col=0)
final_10 = pd.read_csv('Datos Presentacion\dfinal_10.csv', index_col=0)

In [119]:
df_tablas = pd.concat((tabla_A_1, tabla_B_1, tabla_A_2, tabla_B_2,tabla_A_3, tabla_B_3,tabla_A_4, tabla_B_4,tabla_A_5, tabla_B_5,tabla_A_6, tabla_B_6,tabla_A_7, tabla_B_7,tabla_A_8, tabla_B_8,tabla_A_9, tabla_B_9,tabla_A_10, tabla_B_10,), ignore_index=True)

In [120]:
df_tablas

                    Equipo  Puntos
0                Instituto      25
1             Talleres (C)      24
2       Argentinos Juniors      23
3                  Arsenal      22
4                  Huracán      22
..                     ...     ...
275          Sarmiento (J)      14
276  Central Córdoba (SdE)      12
277      Newell's Old Boys      12
278                  Tigre      12
279                  Unión      11

[280 rows x 2 columns]

In [121]:
df_tablas_promedio = df_tablas.groupby('Equipo').mean()

In [122]:
df_tablas_promedio = df_tablas_promedio.sort_values('Puntos', ascending=False)

In [123]:
df_tablas_promedio.to_csv('df_tablas_promedio.csv')

In [124]:
df_finales = pd.concat((final_1,final_2,final_3,final_4,final_5,final_6,final_7,final_8,final_9,final_10), ignore_index=True)

In [125]:
print(df_finales)

              local         visitante          Ganador
0      Talleres (C)       Racing Club      Racing Club
1        iver Plate   Rosario Central  Rosario Central
2       River Plate      Boca Juniors      River Plate
3      Boca Juniors   Rosario Central  Rosario Central
4   Vélez Sarsfield       River Plate      River Plate
5   Rosario Central  Atlético Tucumán  Rosario Central
6       River Plate   Vélez Sarsfield      River Plate
7             Lanús       Racing Club      Racing Club
8         Instituto  Estudiantes (LP)        Instituto
9  Estudiantes (LP)      Boca Juniors     Boca Juniors

In [126]:
print(df_finales)

              local         visitante          Ganador
0      Talleres (C)       Racing Club      Racing Club
1        iver Plate   Rosario Central  Rosario Central
2       River Plate      Boca Juniors      River Plate
3      Boca Juniors   Rosario Central  Rosario Central
4   Vélez Sarsfield       River Plate      River Plate
5   Rosario Central  Atlético Tucumán  Rosario Central
6       River Plate   Vélez Sarsfield      River Plate
7             Lanús       Racing Club      Racing Club
8         Instituto  Estudiantes (LP)        Instituto
9  Estudiantes (LP)      Boca Juniors     Boca Juniors

Df campeones

In [106]:
df_campeones = df_finales.drop(['local', 'visitante'], axis=1)

In [108]:
df_campeones = df_campeones.assign(Cantidad=1)

In [113]:
df_campeones = df_campeones.groupby('Ganador').sum()

In [115]:
df_campeones.sort_values('Cantidad', ascending=False, inplace=True)

In [116]:
df_campeones.to_csv('Campeones.csv')